/*Base*/

* {
  font-family: "Lato", sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8ea;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/*Navbar*/

#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar a.active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand img {
  width: 2.35em;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.25em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 0.675em;
}

/*Slider*/
#slider {
  margin: 7.35em 0 1.75em;
}

#slider .carousel-caption {
  bottom: 3em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 1.55px 1.55px;
}

#slider .btn {
  padding: 0.3em 0.8em;
  font-size: 0.875em;
  margin-top: 0.75em;
}

.carousel-control-prev svg,
.carousel-control-next svg {
  color: #111;
  width: 40%;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media screen and (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 15em;
  }

  #slider .carousel-caption h5 {
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }

  #slider .btn {
    padding: 0.6em 1.45em;
    font-size: 1.2em;
  }

  .carousel-indicators {
    bottom: 7em;
  }
}

/*Mini Banners*/

#mini-banners {
  margin-bottom: 3.2em;
}

#mini-banners .card {
  align-content: space-around;
  align-items: center;
  display: flex;
  margin-bottom: 1.25em;
  padding: 2em 0.3em;
}

#mini-banners svg {
  width: 15%;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

@media screen and  (min-width: 768px){
  #mini-banners {
    margin-top: -6em;
  }
}

/*Destaques*/
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  border-top: 4px solid #7a7a7a;
  bottom: 2.25em;
  content: "";
  position: absolute;
  width: 75px;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .banner-content {
  align-items: center;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: 500ms;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }
  #featured-images .banner-content {
    opacity: 0;
  }
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.675;
  }

  }

/*Info*/
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-number h3 {
  font-size: 3em;
}

@media screen and (min-width: 768px) {
  #info-content {
    padding: 2.75em;
  }
}

/*Footer top*/
#footer {
  padding: 1.75em 1.25em;
}

#footer-top {
  margin-bottom: 1.15em;
}

#footer-top, #footer-top svg {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons svg {
  margin-right: 0.875em;
  font-size: 1.25em;
  cursor: pointer;
}

#social-icons svg:hover {
  color: #7a7a7a;
}

/*Footer Details*/
#footer-details {
  margin-bottom: 2.5em;
}

#news-container, 
#contact-container,
#link-container {
  padding: 0;
  margin-bottom: 1.25em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 0.875em;
}

#news-container input {
  border: none;
}

#links-container li {
  margin-bottom: 0.35em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/*Footer bottom*/
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 1.675em;
  margin-left: 0.3em;
}

@media screen and (min-width: 768px) {
  #news-container {
    padding-right: 1.25em;
  }

  #links-container {
    padding-left: 1.25em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }
}
